---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Scroll_div from "../components/Scroll_div";
---

<Layout title="Welcome to Astro.">
  <main class="flex main overflow-y-hidden overflow-x-scroll">
    <div class="min-w-[100vw]">
      <Hero client:load />
    </div>
    <Scroll_div client:load />
  </main>
</Layout>
