---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/herooo/Hero";
import Nav from "../components/nav/Nav";
---

<Layout title="Welcome to Astro.">
  <main>
    <Nav />
    <Hero />
  </main>
</Layout>
