.container {
  padding: 1rem;
}
.font-pair {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 3rem 7rem 0 7rem;
}

.text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
}

.text-wrapper > h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.text-wrapper > p {
  width: 55%;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
