---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Lusitana&family=Raleway&family=Roboto+Condensed&family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "League Gothic", sans-serif;
  }
  .background {
    background-color: #fb8c24f2;
  }

  .background > h1 {
    font-size: clamp(3rem, 20vw, 16rem);
  }
  .container {
    padding: 1rem;
  }
  .font-pair {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3rem 7rem 0 7rem;
  }

  .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .text-wrapper > h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .text-wrapper > p {
    width: 55%;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    border-radius: 0 3px 3px 0;
    transform-origin: 0%;
  }
</style>
